fastapi
uvicorn
python-dotenv
pymupdf
langchain
langchain-community
sentence-transformers
chromadb
pydantic
email-validator
sqlalchemy
langchain-chroma
google-genai
passlib[bcrypt]
python-jose[cryptography]
bcrypt>=4.0.1,<4.1